<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" href="{{ 'channel_logo.png' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ '/index.html' | relative_url }}" class="{% if page.url == '/index.html' %}active{% endif %}">Introduction</a>
        <a href="{{ '/blogs.html' | relative_url }}" class="{% if page.url == '/blogs.html' %}active{% endif %}">Blogs</a>
        <a href="{{ '/videos.html' | relative_url }}" class="{% if page.url == '/videos.html' %}active{% endif %}">Videos</a>
        <a href="{{ '/contact.html' | relative_url }}" class="{% if page.url == '/contact.html' %}active{% endif %}">Contact</a>
    </div>

    <div class="content">
        {{ content }}
    </div>

    <script src="{{ 'script.js' | relative_url }}"></script>
</body>
</html>
